<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GovernmentAPI</title>
  <link rel="icon" href="img/logo/logo_peach.svg" />
  <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Trirong&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- offline bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <!-- offline fullpage.js -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fullpage.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/interactive.css') }}">
  <script type=text/javascript src="{{ url_for('static', filename='script/jquery-3.5.1.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='script/jquery-ui.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='script/jquery.isonscreen.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='script/fullpage.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='script/bootstrap.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='script/interactive.js') }}"></script>
</head>

<body>
  <!-- 
      ||| fixed elements |||
     -->
  <!-- ปุ่มกลับไปหน้าค้นหา seacrh.html -->

  <!-- credit -->
  <img src="img/UI/copyright.svg" class="btn-credit">
  <p class="credit">
    เว็บไซต์นี้เป็นส่วนหนึ่งของวิชา PROBLEM SOLVING IN INFORMATION TECHNOLOGY
    คณะเทคโนโลยีสารสนเทศสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง ©2020
  </p>
  <!-- 
        |||   pages   |||
    -->
  <div id="wrapper">
    <!-- page 1 -->
    <div class="section bg-navy-red">
      <div class="fixed">
        <form action='/gosearch/' method='POST'> <button name='gosearch' type='submit'>ค้นหาเพิ่มเติม</button></form>
        <div style="margin: auto; ">
          <p class="head cl-yellow" style="text-align: center; margin-top: 300px;">
            GovernmentAPI
          </p>
        </div>
        <div class="icon-scroll"></div>
      </div>
    </div>

    <!-- page 2 -->
    <div class="section bg-pale-yellow">
      <p class="head cl-red" style="text-align: center; width: 500px; margin: auto;">เคยสงสัยไหมว่า</p>
      <p class="subhead cl-navy-green" style="text-align: center; width: 650px; margin: auto;">
        ภาษีที่รัฐบาลเก็บจากประชาชน ภาครัฐนำไปทำอะไรบ้าง?</p>
      <p class="cl-navy-blue" style="width: 1200px;margin-top: 10px; left: 250px; position: relative;">
        เว็บเพจนี้จะนำเสนอเกี่ยวกับข้อมูลโครงการจัดซื้อจัดจ้างจากระบบการจัดซื้อจัดจ้างภาครัฐ (Thai Government
        Procurement)</p>
      <p class="cl-navy-blue" style="width: 1000px;text-align: center; margin: auto;">มีแหล่งที่มาจากกรมบัญชีกลาง
        เพื่อนำเสนอ งบประมาณและการใช้จ่ายของภาครัฐ ตั้งแต่ปีงบประมาณ 2559 ถึง ปีงบประมาณ 2563
        ซึ่งนำเสนอในรูปแบบของกราฟ และในปีงบประมาณ 2562 เจาะลงไปที่ กระทรวงกลาโหม เป็นข้อมูลการเบิกจ่ายรายเดือน
        ซึ่งประกอบไปด้วย 3 กองทัพ คือ กองทัพบก กองทับเรือ และกองทัพอากาศ</p>
      <p class="cl-navy-blue" style="width: 1000px;text-align: center; margin: auto; margin-top: 10px;">
        ในการจัดกลุ่มงบประมาณ แต่ละปีจะแตกต่างกันออกไป แต่หลักๆ จะแบ่งออกเป็น 5 กลุ่ม คือ</p>
      <div style="width: 1200px; height: 200px; position: relative; left: 400px; margin-top: 25px;">
        <div style="width: 120px; height: 120px; position: relative; float: left;">
          <img src="{{url_for('static', filename='/img/1-1.png')}}" alt="งบกลาง"
            style="width: 120px; height: 120px; position: relative;">
          <p style="position: relative; text-align: center;">งบกลาง</p>
        </div>
        <div style="width: 120px; height: 120px; position: relative; left: 150px; top: -120px;">
          <img src="{{url_for('static', filename='/img/2.png')}}" alt="งบประมาณรายจ่ายกระทรวง/หน่วยงาน (Function)"
            style="width: 120px; height: 120px; position: relative;">
          <p style="position: relative; text-align: center;">งบประมาณรายจ่ายกระทรวง/หน่วยงาน (Function)</p>
        </div>
        <div style="width: 120px; height: 120px; position: relative; left: 300px; top: -120px;">
          <img src="{{url_for('static', filename='/img/3.png')}}" alt="งบประมาณรายจ่ายบูรณาการ (Agenda)"
            style="width: 120px; height: 120px; position: relative;">
          <p style="position: relative; text-align: center;">งบประมาณรายจ่ายบูรณาการ (Agenda)</p>
        </div>
        <div style="width: 120px; height: 120px; position: relative; left: 460px; top: -230px;">
          <img src="{{url_for('static', filename='/img/4.png')}}" alt="งบประมาณรายจ่ายพื้นที่ (Area)"
            style="width: 120px; height: 120px; position: relative;">
          <p style="position: relative; text-align: center;">งบประมาณรายจ่ายพื้นที่ (Area)</p>
        </div>
        <div style="width: 120px; height: 120px; position: relative; left: 610px; top: -355px;">
          <img src="{{url_for('static', filename='/img/1-2.png')}}" alt="งบประมาณรายจ่ายบริหารจัดการหนี้ภาครัฐ"
            style="width: 120px; height: 120px; position: relative;">
          <p style="position: relative; text-align: center;">งบประมาณรายจ่ายบริหารจัดการหนี้ภาครัฐ</p>
        </div>
      </div>
    </div>

    <!-- maincontent 1 -->
    <div class="section bg-pale-green" style="z-index: 3;">
      <p class="head cl-cream" style="text-align: center;padding: 30px;">แผนภูมิวงกลมแสดงข้อมูลของปีงบประมาณ 59-63</p>
      <div style="width: 1400px; height: 750px; margin: auto; top: -130px; position: relative;">
          <div class="slide" id="1-1">
            <p style="position: relative;left: 340px; margin: auto;" class="subhead cl-pale-yellow">
              วงเงินงบประมาณรายจ่ายปี 2559 คือ 2,776,000.0 ล้านบาท
            </p>
            <ul style="position: relative; margin: auto; left: 340px;">
              <li style="font-size: 14.5px;">งบกลาง 395,382.5 ล้านบาท คิดเป็น ร้อยละ 14.2 ของวงเงินงบประมาณ</li>
              <li style="font-size: 14.5px;">งบประมาณรายจ่าย กระทรวง/ หน่วยงาน (Function) 1,487,741.6 ล้านบาท คิดเป็นร้อยละ 53.5 ของวงเงินงบประมาณ</li>
              <li style="font-size: 14.5px;">งบประมาณรายจ่ายบูรณาการ (Agenda) 386,786.7 ล้านบาท คิดเป็นร้อยละ 13.9 ของวงเงินงบประมาณ</li>
              <li style="font-size: 14.5px;">งบประมาณรายจ่ายพื้นที่ (Area) 283,189.8 ล้านบาท คิดเป็นร้อยละ 10.2 ของวงเงินงบประมาณ</li>
              <li style="font-size: 14.5px;">งบประมาณรายจ่ายบริหารจัดการหนี้ภาครัฐ 222,899.4 ล้านบาท คิดเป็นร้อยละ 8.0 ของวงเงินงบประมาณ</li>
            </ul>
            <embed type="image/svg+xml" src="{{ url_for ('static', filename='api/SVG/chart_BBGroup_2559.svg') }}" style="width: 600px; height: 430px; position: relative;
            top: 20px; left: 400px;"/>
            
          </div>
          <div class="slide" id="1-2">

            <figure><embed type="image/svg+xml"
                src="{{ url_for ('static', filename='api/SVG/chart_BBGroup_2560.svg') }}" /></figure>

          </div>
          <div class="slide" id="1-3">

            <figure><embed type="image/svg+xml"
                src="{{ url_for ('static', filename='api/SVG/chart_BBGroup_2561.svg') }}" /></figure>

          </div>
          <div class="slide" id="1-4">

            <figure><embed type="image/svg+xml"
                src="{{ url_for ('static', filename='api/SVG/chart_BBGroup_2562.svg') }}" /></figure>

          </div>
          <div class="slide" id="1-5">

            <figure><embed type="image/svg+xml"
                src="{{ url_for ('static', filename='api/SVG/chart_BBGroup_2563.svg') }}" /></figure>
          </div>
        
      </div>
      <!--<div class="slide" id="">
        <figure><embed type="image/svg+xml" src="{{ url_for ('static', filename='api/SVG/chart_sum.svg') }}" /></figure>
        <figure><embed type="image/svg+xml" src="{{ url_for ('static', filename='api/SVG/chart1.svg') }}" /></figure>
      </div>-->
    </div>

  </div>
  <!-- 
        |||   scripts   ||| 
    -->
  <!-- icons -->
  <script src="https://kit.fontawesome.com/3437ca9b77.js"></script>

  <!-- jquery -->
  <script src="script/jquery-3.5.1.min.js"></script>

  <!-- jquery-ui -->
  <script src="script/jquery-ui.js"></script>

  <!-- fullpage.js -->
  <script src="script/fullpage.js"></script>

  <!-- isOnScreen -->
  <script src="script/jquery.isonscreen.js"></script>

  <!-- bootstrap -->
  <script src="script/bootstrap.js"></script>

  <!-- universal script -->
  <script>
    // enable fullpage.js
    new fullpage("#wrapper", {
      //options here
      autoScrolling: true,
      scrollHorizontally: true,
      loopHorizontal: false
    });

    $(document).ready(function () {
      cddisplay();
      $(".fp-controlArrow").click(function () {
        if ($(".slideBeforeLock").isOnScreen()) {
          $(".fp-controlArrow").css({ "border-style": "none" });
        }
        if ($(".slideBeforeTimer").isOnScreen()) {
          $(".fp-controlArrow").css({ "border-style": "none" });
          cdreset();
        }
      });
    });

    //   timer
    var CCOUNT = 10;

    var t, count;

    function cddisplay() {
      // displays time in span
      count = (count < 10) ? '0' + count : count;
      $("#timer").html("00 : " + count);
      $("#pog").val(count);
    }

    function countdown() {
      // starts countdown
      cddisplay();
      if (count == 0) {
        // time is up
        cdpause();
        $("#timedQuiz").fadeOut();
        $("#timedNo").fadeIn(1000);
      } else {
        count--;
        t = setTimeout("countdown()", 1000);
      }
    }

    function cdpause() {
      // pauses countdown
      clearTimeout(t);
    }

    function cdreset() {
      // resets countdown
      cdpause();
      count = CCOUNT;
      cddisplay();
      countdown();
    }

    $(".q1-yes").click(function () {
      cdpause();
      $("#timedQuiz").fadeOut();
      $("#timedYes").fadeIn(1000);
      $(".fp-controlArrow").css({ "border-style": "solid" });
    });
    $(".q1-no").click(function () {
      cdpause();
      $("#timedQuiz").fadeOut();
      $("#timedNo").fadeIn(1000);
    });
    $(".q1-retry").click(function () {
      $("#timedNo").fadeOut();
      $("#timedQuiz").fadeIn(1000);
      cdreset();
    });
    // Credit
    $(".btn-credit").click(function () {
      $(".credit").slideToggle(500);
    });
    $(".credit").click(function () {
      $(".credit").slideToggle(500);
    });
    //text fade in
    $('.fade1').slideDown(2000);
    $('.fade2').delay(500).slideDown(2000);
    $('.fade3').delay(1000).slideDown(2000);
    $('.fade4').delay(1500).slideDown(2000);
  </script>

  <!-- Interactive -->
  <script src="script/interactive.js"></script>


</body>

</html>