<html>

<head>
   <title></title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
   integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
   integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
   integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<body>
   <div style="position: relative; top: 300px;"> 
      <form class="userinput" method="POST">
         <select name="input_keyword" class="span4">
            <option value=" " selected>ทั้งหมด</option>
            <option value="เครื่องมือและอุปกรณ์การแพทย์">เครื่องมือและอุปกรณ์การแพทย์</option>
            <option value="อุปกรณ์การศึกษา">อุปกรณ์การศึกษา</option>
            <option value="รถถัง">รถถัง</option>
            <option value="กระสุนปืน">กระสุนปืน</option>
         </select>
         <select name="input_year" class="span4">
            <option value=" " selected>ทั้งหมด</option>
            <option value="2558">2558</option>
            <option value="2559">2559</option>
            <option value="2560">2560</option>
            <option value="2561">2561</option>
            <option value="2562">2562</option>
            <option value="2563">2563</option>
         </select>
         <button type="submit">ค้นหา</button>
      </form>
   </div>
</body>

</html>